body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#carroImagem {
    width: 200px; /* Ajuste o tamanho conforme necessário */
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}